body,
html {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: 'Georgia', serif;
}

.hero {
   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/images/home.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: white;
   text-align: center;
}

h1 {
   font-size: 4rem;
   text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
   margin-top: 150px;
   margin-bottom: 0;
}

.get-started {
   margin-top: 330px;
   padding: 18px 50px;
   background-color: #4a3aff;
   color: white;
   text-decoration: none;
   border-radius: 50px;
   font-size: 1.2rem;
   transition: 0.3s;
   opacity: 0.7;
   border: none;
   outline: none;
}

.get-started:hover {
   background-color: #3527cc;
   transform: scale(1.05);
}