body,
html {
   margin: 0;
   padding: 0;
   height: 100%;
   font-family: 'Georgia', serif;
}

.hero {
   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('/lab 5/images/home.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding-top: 150px;


   align-items: center;

   color: white;
   text-align: center;
}


h1 {
   font-size: 4rem;
   text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
   margin-top: 40px;
   margin-bottom: 0;
}

.get-started {
   padding: 18px 60px;
   color: white;
   text-decoration: none;
   border-radius: 60px;
   font-size: 1.2rem;
   margin-top: 500px;

   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);

   border: 1px solid rgba(255, 255, 255, 0.3);

   transition: 0.3s;
}

.get-started:hover {
   background: rgba(255, 255, 255, 0.25);
   transform: translateY(-3px);
}